## Exercise1. Conver the first letter of the name to uppercase and remove '-' from the phone number. Print the following output

In [1]:
A = 'abel'
B = 'nenny'
numberA = "010-1234-5678"
numberB = "010-9876-5432"

upperA = A[0].upper()+A[1:]
print(A, numberA, "-->", upperA, numberA.replace('-',''))

upperB = B[0].upper()+B[1:]
print(B, numberB, "-->", upperB, numberB.replace('-',''))

abel 010-1234-5678 --> Abel 01012345678
nenny 010-9876-5432 --> Nenny 01098765432

## Exercise2. Create an odd list and an even list from 1 to 10 using a range function as an input. And print these two lists. Then, create a new list by combining two lists and sort this new list in descending order

In [2]:
oddlist = (list(range(1,11,2)))
evenlist = (list(range(2,11,2)))

print('list1:', oddlist)
print('list2:', evenlist)
result = oddlist + evenlist
result.sort(reverse=True)
print('result:', result)

list1: [1, 3, 5, 7, 9]
list2: [2, 4, 6, 8, 10]
result: [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

## Exercise3. Create two tuples x and y. Then, create a new tuple by combining these two tuples. Finally, drop the last item, 'b', throught slicing the newly created tuple

In [3]:
x = (1, 2, 3)
y = ('a', 'b')

print('x:', x)
print('y:', y)

result = x + y
print("drop'b':",result[:4])

x: (1, 2, 3)
y: ('a', 'b')
drop'b': (1, 2, 3, 'a')

## Exercise4. Create a dictionary named dic. Then, delete the element whose key is 'Lee' and print the keys and values of this dictionary

In [6]:
dic = {'Kim' : 'Math', 'Lee':'English','Han':'Art','Ahn':'Physics'}
print('dic:',dic)

del dic['Lee']
print(dic.keys())
print(dic.values())

dic: {'Kim': 'Math', 'Lee': 'English', 'Han': 'Art', 'Ahn': 'Physics'}
dict_keys(['Kim', 'Han', 'Ahn'])
dict_values(['Math', 'Art', 'Physics'])